/* タブバー（ツールバー全体）を非表示にする（最新のFirefox互換） */
#TabsToolbar {
  position: absolute !important;
  visibility: collapse !important;
}
/* サイドバーのヘッダーを非表示 */
#sidebar-header {
  display: none !important;
}
/* 1ピクセルの隙間やウィンドウ操作ボタンの残骸を消す */
#titlebar {
  margin-bottom: 0px !important;
}
